# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Arquivos de ambiente virtual do Python
venv/
/venv/
__pycache__/
*.py[cod]

# Arquivos de dependências do Node.js
node_modules/

# Arquivos de build e log do front-end
/frontend/build
/frontend/npm-debug.log
/frontend/coverage

# Arquivos do S.O.
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
